{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.oldPassword.label(class='form-label') }}<br>
            {{ form.oldPassword(class='form-control') }}<br>
            {% for error in form.oldPassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class='form-label') }}<br>
            {{ form.password(class='form-control') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class='form-label') }}<br>
            {{ form.password2(class='form-control') }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='btn btn-outline-primary') }}</p>
    </form>
</div>
    {% endblock %}
