{% extends 'base.html' %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container mt-3">
    <div class="row g-5">
        <!-- Left Column -->
        <div class="col-md-5 mb-5 order-md-first order-last">
          <!-- Watchlist button toggle-->
          <div class="my-2 row">
            <div class="col">
              <label for="add_watchlist" class="form-check-label"><b>Add To Watchlist</b></label>
            </div>
            <div class="col form-check form-switch">
              <input class="form-check-input" type="checkbox" id="add_watchlist" onchange="add_or_remove_stock(this, '{{ stock["symbol"] }}')" {% if stock["in_watch_list"] %} checked {% endif %}>
            </div>
          </div>

          
          <div class="row">
            <div class="input-group col">
              <div class="input-group-prepend">
                <span class="input-group-text btn-success" id="basic-addon1" onclick="create_order('{{ stock ["symbol"] }}',document.getElementById('buy-qty').value.toString(),'buy')">Buy</span>
              </div>
              <input type="text" id="buy-qty" class="form-control" value="+1" aria-describedby="basic-addon1">
            </div> 
            <div class="input-group col">
              <div class="input-group-prepend">
                <span class="input-group-text btn-danger" id="basic-addon1" onclick="create_order('{{ stock ["symbol"] }}',document.getElementById('sell-qty').value.toString(),'sell')">Sell</span>
              </div>
              <input type="text" id="sell-qty" class="form-control" value="-1" aria-describedby="basic-addon1">
            </div> 
          </div>
          <div class="row">
            <h4 class="col" id="open_price">Open price :</h4>
            <h4 class="col" id="close_price">Close price :</h4>
          </div>
          <h2>Positions</h2>
          <div class="list-group list-group-flush border-bottom scrollarea">
            {% if positions|length > 0 %}
                <div class="cols-md-5">
                  <h3>
                    <strong>
                      {% if positions.side == "long"%}
                      Bought {{positions.symbol}}
                      {% else %}
                      Shorted {{positions.symbol}}
                      {% endif %}
                    </strong>
                  </h3>
                  <div class="col">
                    <strong>Quantity:</strong> {{positions.qty}}<br>
                    <strong>Market Value:</strong> {{positions.market_value}}<br>
                    <strong>Current Price:</strong> {{positions.current_price}}<br>
                    <strong>Average Price:</strong> {{'%0.2f'| format(positions.avg_entry_price|float)}}<br>
                    <strong>Unrealized Profit:</strong> {{'%0.2f'| format(positions.unrealized_plpc|float)}}
                  </div>
                </div>
            {% else %}
              <h3>You currently have no positions.</h3>
            {% endif %} 
          </div>
        </div>
        
        <!-- Right Column -->
        <div class="col-md-7 mb-5">
          <h3 id="stock_graph">{{ stock['name'] }}</h3>
          <div class="card">
            <div class="card-body">
              <div class="border border-2 rounded">
                <div id="price_plot" style="width:100%;max-width:700px"></div>
            </div>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-dark">
                <input type="radio" name="options" id="option1" autocomplete="off" onclick='load_detail("{{ stock["symbol"] }}","Minute")' checked> 1d
              </label>
              <label class="btn btn-dark">
                <input type="radio" name="options" id="option2" autocomplete="off" onclick='load_detail("{{ stock["symbol"] }}","Day")'> 1w
              </label>
              <label class="btn btn-dark">
                <input type="radio" name="options" id="option3" autocomplete="off" onclick='load_detail("{{ stock["symbol"] }}","Week")'> 1m
              </label>
              <label class="btn btn-dark">
                <input type="radio" name="options" id="option4" autocomplete="off" onclick='load_detail("{{ stock["symbol"] }}","Month")'> 1y
              </label>
              <label class="btn btn-dark">
                <input type="radio" name="options" id="option5" autocomplete="off" onclick='load_detail("{{ stock["symbol"] }}","Year")'> 5y
              </label>
            </div>
            <div class="card-footer">
              <strong>Exchange:</strong> {{ stock['exchange'] }}<br>
              <strong>Symbol:</strong> {{ stock['symbol'] }}<br>
              <strong>Status:</strong> {% if stock['status'] == 'active' %} Active {% else %} Inactive {% endif %}<br>
              <strong>Tradeable:</strong> {% if stock['tradable'] %} Ready to trade {% else %} Unavailable {% endif %}
            </div>
          </div>
        </div>
      </div>
</div>
<script src="{{ url_for('static', filename='stock/stock_detail.js') }}"></script>
<script>load_detail('{{ stock["symbol"] }}', "Minute")</script>

{% endblock %}