{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="text-light" style="background-color: rgb(140,82,255);">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='Logo-600.png') }}"class="img-fluid" alt="Logo" width="200" height="200">
                </div>
                <div class="col-md-8">
                    <h1 class="m-0" style="color:text-warning;" >Stock Trader</h1><br>
                    <h2 class="m-1"><em>THE FUTURE IS HERE</em></h2><br>
                    Stock Trader provides solution
                    <ul>
                        <li>multiple brokerage accounts</li>
                        <li>tracking positions between different accounts</li>
                        <li>complex interface</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
    <div class="row">
        <div class="col-sm-6 p-3">
            <h2 style="color:text-dark;"><em>HOW WE SOLVED THIS!</em></h2><br>
            <ul>
                <li>One single account access to multiple brokers</li>
                <li>All stock positions in one place</li>
                <li>Uniform Process no matter what exchange you trade on</li>
            </ul>
        </div>
        <div class="col-md-5 p-3">
            <h2 style="color:text-dark;"><em>FEATURES</em></h2><br>
            <ul>
                <li>Authenticate with supported brokerages API</li>
                <li>As many brokerage accounts as a user wants</li>
                <li>View all positions and balances in one place</li>
                <li>Execute trades from our platform</li>
                <li>Customized news feed</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}