<div class="list-group list-group-flush">
            
            
            
            
    <a href="https://www.slashgear.com/1010269/this-tesla-feature-is-landing-elon-musk-in-hot-water/"
        class="list-group-item list-group-item-action">
        <div class="row mb-2">
            <div class="col-md-2">
                <img src="https://www.slashgear.com/img/gallery/this-tesla-feature-is-landing-elon-musk-in-hot-water/l-intro-1663267655.jpg"
                    alt="" srcset="" class="rounded img-fluid ">
            </div>
            <div class="col">
                <div>
                    <h4>This Tesla Feature Is Landing Elon Musk In Hot Water</h4>
                    <br>
                    <span style="color: red">Monica J. White</span>
                </div>
                <div>
                    Tesla is once again in the headlines over its Autopilot features, this time due to a proposed class
                    action lawsuit that lobs accusations at the automaker.
                </div>
            </div>
        </div>
    </a>



    <a href="https://www.techtimes.com/articles/280600/20220915/tesla-installs-supercharging-pilot-program-iceland-non-tesla-vehicles.htm" class="list-group-item list-group-item-action">
        <div class="row">    
            <div class="col-md-2">
                <img src="https://1734811051.rsc.cdn77.org/data/images/full/411559/us-automobile-environment-tesla.jpg" alt="" srcset="" class="rounded img-fluid">
            </div>
            <div class="col">
                <div>
                    <h4>Tesla Installs Supercharging Pilot Program in Iceland for Non-Tesla Vehicles</h4>
                    <br>
                    <span style="color: red">Joaquin Victor Tacla</span>
                </div>
                <div>
                    Tesla has expanded its supercharging pilot program for non-Tesla vehicles in Iceland.
                </div>
            </div>
        </div>
    </a>
    

    
</div>